.profiles-container {
    color: var(--dark-color);
    height: 100%;
    width: 100%;
    margin: auto;
    margin-top: 1rem;
    text-align: center;
}
.btn.btn-dark {
    margin-right: 0;
}
.btn {
    margin-top: 1rem;
}
.info-container {
    width: 100%;
}
