.profiles-page {
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    align-items: center;
    grid-gap: 2rem;
    padding: 1rem;
    line-height: 1.8;
    margin-bottom: 1rem;
    text-align: left;
    background-color: #a0a0a0;
    color: rgb(51, 50, 49);
    font-size: 1rem;
}
.round-img {
    border-radius: 50%;
    margin-top: 1rem;
}
.btn.btn-primary {
    margin-top: 1rem;
}
