.recipes {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.recipes-inner {
    color: var(--dark-color);
    height: 100%;
    text-align: center;
}
.recipes-header {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.grid-container-recipes {
    display: grid;
    grid-template-columns: repeat(4, fit-content(25%));
}

.prep-symbol {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-top: 1px solid #ccc;
    margin: 0.2rem;
}
.prep-symbol img {
    display: block;
    margin-left: 0.3rem;
    margin-top: 0.3rem;
}
.prep-right {
    display: flex;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.prep-left {
    margin-top: 0.4rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.fas.fa-clock,
.fas.fa-utensils {
    color: rgb(64, 175, 64);
    padding-right: 0.2rem;
}
.wrapper {
    border-radius: 8px;
}
.nutrions-container {
    display: flex;
    margin: 1rem;
    width: 100%;
    justify-content: space-between;
}
.kcal,
.carbs,
.sugars {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background-color: lightgray;
    height: 100%;
    width: 30%;
    text-align: center;
    padding: 1.5rem 0;
}
.top {
    width: 100%;
    text-align: center;
}
.recipe-link {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
}
.recipe-image {
    cursor: pointer;
}
.recipe-page-container {
    color: var(--dark-color);
    height: 100%;
    width: 100%;
    margin: auto;
    margin-top: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
}
.recipe-page-main {
    width: 70%;
}
.recipe-page-top {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 2rem;
}
.recipe-page-img {
    width: 70%;
    max-height: 400px;
}
.recipe-page-top-right {
    width: 30%;
    margin-top: 1rem;
    margin-left: 1rem;
}
.kCal-flex,
.carbs-flex,
.sugars-flex,
.fibre-flex,
.protein-flex,
.fat-flex,
.saturates-flex,
.salt-flex {
    display: block;
    background-color: lightgray;
    padding: 2rem;
    text-align: center;
}
.recipe-page-center {
    margin: 1rem;
    display: flex;
    flex-direction: column;
}
.nutrient-box {
    margin: 0.2rem;
    text-align: left;
}
.serving-size {
    font-size: 1.5rem;
    color: var(--primary-color);
}
.serves,
.prep {
    text-align: left;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}

.recipe-page-nutrions {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.recipe-page-bottom {
    display: flex;
}
.recipe-page-methods {
    width: 70%;
    border-left: 1px solid #ccc;
    margin-left: 0.4rem;
}
.recipe-page-ingredients {
    margin-top: 2.5rem;
    text-align: left;
    margin-right: 1rem;
}
.methods {
    text-align: left;
    margin-left: 2rem;
    padding-left: 2rem;

    margin-top: 3rem;
}
.ingredient-box {
    text-align: left;
    margin-top: 0.5rem;
    font-size: 1rem;
}
.step-number {
    font-size: 1.5rem;
    color: var(--primary-color);
}
.ingredients-header {
    color: var(--primary-color);
}

@media (max-width: 1200px) {
    .grid-container-recipes {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 900px) {
    .grid-container-recipes {
        grid-template-columns: repeat(2, 1fr);
    }
    .recipe-page-top-right {
        font-size: 0.75rem;
    }
    .recipe-page-nutrions {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 700px) {
    .grid-container-recipes {
        grid-template-columns: repeat(1, 1fr);
    }
    .recipe-page-top {
        flex-direction: column;
        align-items: center;
    }
    .prep,
    .serves {
        text-align: center;
    }
}
@media (max-width: 600px) {
    .recipe-page-nutrions {
        grid-template-columns: repeat(2, 1fr);
    }
    .recipe-page-top-right {
        font-size: 1rem;
    }
}
