.posts-container {
    color: var(--dark-color);
    height: 100%;
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.post {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 2rem;
    align-items: center;
    padding: 1rem;
    margin: 1rem, 0;
    text-align: left;
    margin-top: 0.3rem;
}
.post > div:first-child {
    text-align: center;
}

.post img {
    width: 100px;
}
.text {
    margin: 1rem, 0;
}
