.forum-container {
    color: var(--dark-color);
    height: 100%;
    width: 100%;
    margin: auto;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
