@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');
.navbar-container {
    min-width: 0;
    border: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--primary-color);
    box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.5);
}
.navbar-container a {
    display: block;
    color: white;
    text-align: center;
    margin: 0 3rem;
}

.navbar-container a:hover {
    color: orangered;
}
.logo {
    display: block;
    font-family: 'Marck Script', cursive;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 2rem;
}
.user-info {
    margin-left: auto;
    margin-right: 2rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--primary-color);
    text-align: center;
}
.dropdown-content a {
    display: block;
    margin: 0.75rem 0.4rem;
}
.user-content {
    display: none;
    position: absolute;
    background-color: var(--primary-color);
    text-align: center;
    margin-left: 1rem;
}
.user-content a {
    display: block;
    margin: 0.75rem 0.4rem;
}
.user-content button {
    display: block;
    padding: 0 1rem;
    margin-left: auto;
    margin-right: auto;
}

.show {
    display: block;
}
.login {
    margin-left: auto;
    margin-right: 5rem;
}
.login:hover {
    cursor: pointer;
    color: orangered;
}

@media (max-width: 900px) {
    .navbar-container {
        flex-direction: column;
    }
    .user-info,
    .dropdown {
        margin: 0;
    }
    .navbar-container button {
        margin: 1rem;
        padding: 0;
    }
    .navbar-container a {
        margin: 0.3rem;
        padding: 0;
    }
    .logo {
        display: none;
    }
}
